/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

.header {
  height: 100px;
  background: teal;
}

.footer {
  background: #188CE8;
  height: 100px;
  color: blue;
}
